<svg
	class={$$props.class}
	width="20"
	height="20"
	viewBox="0 0 20 20"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<g clip-path="url(#clip0_1131_7837)">
		<path
			d="M7.29138 14.6766V18.5416C7.29138 18.8116 7.46471 19.0508 7.72138 19.1358C7.78555 19.1566 7.85138 19.1666 7.91638 19.1666C8.11138 19.1666 8.29971 19.075 8.41971 18.9116L10.6805 15.835L7.29138 14.6766Z"
			fill="currentColor"
		/>
		<path
			d="M19.7375 0.115907C19.5459 -0.0199262 19.2942 -0.0382595 19.0859 0.0709072L0.33587 9.86257C0.114204 9.97841 -0.0166296 10.2151 0.00170373 10.4642C0.0208704 10.7142 0.186704 10.9276 0.422537 11.0084L5.63504 12.7901L16.7359 3.29841L8.14587 13.6476L16.8817 16.6334C16.9467 16.6551 17.015 16.6667 17.0834 16.6667C17.1967 16.6667 17.3092 16.6359 17.4084 16.5759C17.5667 16.4792 17.6742 16.3167 17.7017 16.1342L19.9934 0.717574C20.0275 0.484241 19.9292 0.252574 19.7375 0.115907Z"
			fill="currentColor"
		/>
	</g>
	<defs>
		<clipPath id="clip0_1131_7837">
			<rect width="20" height="20" fill="currentColor" />
		</clipPath>
	</defs>
</svg>
