<script lang="ts">
	import { Menu, MenuButton, MenuItems, Transition } from '@rgossiaux/svelte-headlessui';
	import _ from 'lodash';

	import Search from '$lib/icons/Search.svelte';
	import { appsAndServices } from '$lib/services/constants';

	let searchTerm: string;
	export let selectedTags: string[];

	const allTags = appsAndServices.map((app) => app.tags);
	const flattenTags = _.flattenDeep(allTags);
	const tags = _.uniq(flattenTags).map((tag) => {
		const count = flattenTags.filter((item) => item === tag).length;

		return {
			name: tag,
			count,
		};
	});

	const handleToggleCategory = (tag: string) => {
		if (selectedTags.includes(tag)) {
			selectedTags = selectedTags.filter((item) => item !== tag);
			return;
		}

		selectedTags.push(tag);
		selectedTags = selectedTags;
	};

	$: filteredTags = tags.filter((item) =>
		searchTerm ? item.name.toLowerCase().startsWith(searchTerm.toLowerCase()) : true,
	);
</script>

<Menu let:open as="div" className="relative inline-block text-left">
	<MenuButton class="w-full">
		<slot />
	</MenuButton>

	<Transition
		class="relative"
		show={open}
		enter="transition ease-out duration-100"
		enterFrom="transform opacity-0 scale-95"
		enterTo="transform opacity-100 scale-100"
		leave="transition ease-in duration-75"
		leaveFrom="transform opacity-100 scale-100"
		leaveTo="transform opacity-0 scale-95"
	>
		<MenuItems
			class="bg-medium-gray p-[15px] mt-[15px] origin-top-right absolute right-0 w-full md:w-[335px]"
		>
			<div class="relative mb-[15px]">
				<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
					<div class="h-5 w-5">
						<Search />
					</div>
				</div>
				<input
					type="text"
					name="filter"
					id="filter"
					class="bg-gray outline-none h-[52px] ring-0 border-0 block w-full pl-[47px] sm:text-sm border-gray-300 placeholder:text-text-secondary leading-none"
					placeholder="Filter"
					bind:value={searchTerm}
				/>
			</div>

			<div class="space-y-[15px]">
				{#each filteredTags as tag}
					<div class="flex items-center">
						<input
							id={tag.name}
							name={tag.name}
							type="checkbox"
							checked={selectedTags.includes(tag.name)}
							class="mr-[10px] accent-gray h-4 w-4"
							on:change={() => handleToggleCategory(tag.name)}
						/>

						<label for={tag.name} class="flex-1 font-medium text-gray-700">{tag.name}</label>

						<p class="text-green">{tag.count}</p>
					</div>
				{/each}
			</div>
		</MenuItems>
	</Transition>
</Menu>
