<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import YieldHero from '../lib/components/Hero/YieldHero.svelte';
	import AssetToWork from '../lib/components/AssetToWork/AssetToWork.svelte';
	import Yield from '../lib/components/Yield/Yield.svelte';
	import LP from '../lib/components/Yield/LP.svelte';
	import JoinCommunity from '../lib/components/JoinCommunity/JoinCommunity.svelte';
	import CalculateEarning from '../lib/components/CalculateEarning/CalculateEarning.svelte';
</script>

<svelte:head>
	<title>Earn - THORChain</title>
	<meta name="description" content="Earn single asset, yield on native Bitcoin, Ethereum, Binance Chain, Bitcoin Cash, Litecoin, Avalanche, Cosmos Hub, Dogecoin, and Litecoin. No signup or account needed.">
</svelte:head>

<div>
	<YieldHero />
	<AssetToWork />
	<Yield />
	<LP />
<!--	<CalculateEarning /> -->
	<JoinCommunity />
</div>
