<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Builders</SectionHeader>
	<SectionTitle>Who Can Build on THORChain?</SectionTitle>
	<SectionDescription
		>There are many ways to take advantage of THORChain’s decentralized liquidity pools to improve your app or service.</SectionDescription
	>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bank.png" alt="connect" />
			<CardTitle>Decentralized Exchanges</CardTitle>
			<CardDescription>
				Give your users access to the deep liquidity of native Bitcoin, Ethereum, Avalanche, stablecoins, and more.
				Collect affiliate fees from swaps and liquidity providers using your service powered by THORChain.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/wallet.png" alt="shield" />
			<CardTitle>Wallets</CardTitle>
			<CardDescription>
				Provide users with native swaps and yield, directly from your wallet.
				Collect affiliate fees from swaps and liquidity providers using your service powered by THORChain.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/blockchain2.png" alt="tree" />
			<CardTitle>Aggregators</CardTitle>
			<CardDescription>
				Become a multi-chain aggregator by routing trades through THORChain.
				Collect affiliate fees from swaps and liquidity providers using your service powered by THORChain.
			</CardDescription>
		</Card>
	</div>
</Section>
