<script>
	import cx from 'classnames';
	import Button from '../Button/Button.svelte';

	import Card from '../Card/Card.svelte';
	import CardCategory from '../Card/CardCategory.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	export let isHovering = false;
	// export let buttonText;
	export let title;
	export let category;
	export let priceUSD = '';
	export let liquidity = '';
	export let volume24h = '';
	export let poolAPY = '';
	export let saversDepth = '';
	export let saversAPR = '';
	export let href = '#';
	export let categoryClass = 'text-light-blue';
	export let icon = '';

	const handleMouseout = () => {
		isHovering = false;
	};

	const handleMouseover = () => {
		isHovering = true;
	};

	$: classNames = cx(
		{
			'gradient-border': isHovering,
		},
		'grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-5 gap-[30px] w-full',
	);

	$: categoryClasses = cx(categoryClass);
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<div class="flex" on:mouseout={handleMouseout} on:mouseover={handleMouseover}>
	<Card class={classNames}>
		<div>
			<CardCategory class={categoryClasses}>{category}</CardCategory>
			<div class="flex items-center space-x-2">
				<div class="self-end">
					<svelte:component this={icon} class="w-6 h-6 md:w-12 md:h-12" />
				</div>
				<CardTitle size="large">{title}</CardTitle>
			</div>
		</div>

		{#if priceUSD}
			<div>
				<CardCategory class={categoryClasses}>Price</CardCategory>
				<CardTitle size="large">{priceUSD}</CardTitle>
			</div>
		{/if}

		{#if liquidity}
			<div>
				<CardCategory class={categoryClasses}>Liquidity</CardCategory>
				<CardTitle size="large">${liquidity}</CardTitle>
			</div>
		{/if}

		{#if volume24h}
			<div>
				<CardCategory class={categoryClasses}>Volume 24h</CardCategory>
				<CardTitle size="large">{volume24h}</CardTitle>
			</div>
		{/if}

		{#if poolAPY}
			<div>
				<CardCategory class={categoryClasses}>RUNE-{title} APR</CardCategory>
				<CardTitle size="large">{poolAPY}%</CardTitle>
			</div>
		{/if}

		{#if saversDepth}
		<div>
			<CardCategory class={categoryClasses}>Savers Depth</CardCategory>
<!--			<CardTitle size="large">{saversDepth} {title}</CardTitle> -->
<div class="flex items-center space-x-2">
	<CardTitle size="large">{saversDepth}</CardTitle>
	<div class="self-end">
		<svelte:component this={icon} class="w-6 h-6 md:w-12 md:h-12" />
	</div>
</div>

		</div>
		{/if}


		<div>
			<CardCategory class={categoryClasses}>Savers APR</CardCategory>
			<CardTitle size="large">{saversAPR}%</CardTitle>
		</div>


		<!-- <a {href} target="blank" class="self-center col-span-2 xl:col-span-1">
			<Button gradient={isHovering} class="w-full justify-center">
				<p class="font-bold text-xsmall">
					{buttonText}
				</p>
			</Button>
		</a> -->
	</Card>
</div>
