<script lang="ts">
	import Button from '$lib/components/Button/Button.svelte';
	import MetricData from '$lib/components/Metric/MetricData.svelte';
	import MetricTitle from '$lib/components/Metric/MetricTitle.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';

	import { formatNumber } from '$lib/services/helpers';
	import { useMetrics } from '$lib/services/queries';

	const metricsQuery = useMetrics();

	$: metrics = $metricsQuery.data;
	$: isLoading = $metricsQuery.isLoading;
</script>

<Section>
	<SectionHeader>What is Thorchain?</SectionHeader>
	<SectionTitle>Decentralized Cross-Chain Infrastructure</SectionTitle>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-y-[50px] lg:gap-[50px] mt-[30px] md:mt-[40px]">
		<div class="text-center lg:text-left space-y-[20px]">
			<p class="font-bold text-small lg:text-d-lead text-text-primary">
				THORChain is a settlement layer that facilitates swaps between 8 chains: Bitcoin,
				Ethereum, Binance Chain, Avalanche, Cosmos Hub, Dogecoin, Litecoin, and Bitcoin Cash.
			</p>
			<p class="font-normal text-small lg:text-d-lead text-text-primary">
				THORChain is secured by its native token, RUNE, which deterministically accrues value as
				more assets are deposited into the network.
			</p>
			<p class="font-normal text-small lg:text-d-lead text-text-primary">
				Anyone can use THORChain to swap native assets between any supported chains or deposit their
				assets to earn yield from swaps.
			</p>
		</div>

		<div class="col-span-2 border-[1px] border-gray py-10 px-10 h-min">
			<div class:animate-pulse={isLoading} class="grid grid-cols-2 sm:grid-cols-2 gap-[30px]">
				<div>
					<MetricTitle>Total Value Locked</MetricTitle>
					<MetricData loading={isLoading}>{metrics.totalValueLocked}</MetricData>
				</div>
				<div>
					<MetricTitle>Daily Trading Volume</MetricTitle>
					<MetricData loading={isLoading}>{metrics.dailyTradingVolume}</MetricData>
				</div>
				<div>
					<MetricTitle>Total Liquidity</MetricTitle>
					<MetricData loading={isLoading}>{metrics.totalLiquidity}</MetricData>
				</div>
				<div>
					<MetricTitle>Total Pool Earnings</MetricTitle>
					<MetricData loading={isLoading}>{metrics.totalPoolEarnings}</MetricData>
				</div>
				<div>
					<MetricTitle>Total Volume</MetricTitle>
					<MetricData loading={isLoading}>{metrics.totalVolumeUSD}</MetricData>
				</div>
				<div>
					<MetricTitle>Avg Liquidity Apy</MetricTitle>
					<MetricData loading={isLoading}>{metrics.liquidityAPY}</MetricData>
				</div>
			</div>

			<div class="flex col-span-2 lg:col-span-1 xl:block w-full mt-[20px] md:mt-[30px]">
				<a href="https://thorchain.net/" target="_blank" rel="noopener noreferrer" class="w-full">
					<Button
						class="flex-1 xl:block xl:w-[230px] bg-green font-bold text-small text-black text-center align-middle justify-center w-full"
						gradient>
						More Stats
					</Button>
				</a>
			</div>
		</div>
	</div>
</Section>
