<script lang="ts">
	import cx from 'classnames';

	export let gradient = false;
	export let disabled = false;

	$: classNames = cx(
		'flex py-[15px] px-[25px] font-extrabold border-[1px] border-text-teriary hover:border-text-primary hover:size-110 text-text-primary space-x-[14px] hover:scale-105 transform transition duration-250',
		$$props.class,
		{ 'text-black green-gradient-background border-0': gradient },
		{ 'text-text-teriary border-gray hover:border-gray': disabled },
	);
</script>

<button on:click {disabled} class={classNames}>
	{#if $$slots.leading}
		<slot class="border" name="leading" />
	{/if}

	{#if $$slots.default}
		<div>
			<slot />
		</div>
	{/if}

	{#if $$slots.trailing}
		<div>
			<slot name="trailing" />
		</div>
	{/if}
</button>

<style>
	.green-gradient-background {
		background: linear-gradient(90deg, #33ff99 0%, #00ccff 100%);
	}
</style>
