<script>
	import cx from 'classnames';

	import Card from '../Card/Card.svelte';
	import CardButton from '../Card/CardButton.svelte';
	import CardCategory from '../Card/CardCategory.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	export let isHovering = false;
	export let buttonText;
	export let title;
	export let category;
	export let description;
	export let href = '#';
	export let categoryClass = 'text-light-blue';

	const handleMouseout = () => {
		isHovering = false;
	};

	const handleMouseover = () => {
		isHovering = true;
	};

	$: classNames = cx(
		{
			'gradient-border': isHovering,
		},
		'w-full',
	);

	$: categoryClasses = cx(categoryClass);
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<div class="sa flex" on:mouseout={handleMouseout} on:mouseover={handleMouseover}>
	<Card class={classNames}>
		<CardCategory class={categoryClasses}>{category}</CardCategory>

		<CardTitle size="large">{title}</CardTitle>

		<CardDescription>
			{description}
		</CardDescription>

		<a {href} target="_blank" rel="noopener noreferrer">
			<CardButton gradient={isHovering}>{buttonText}</CardButton>
		</a>
	</Card>
</div>

<style>
	.sa {
		transition: border-color 0.3s ease;
	}
</style>
