<script lang="ts">
	import { isNumberString } from 'class-validator';

	import { useMarketData, usePoolData, useRunePrice } from '$lib/services/queries';

	import Section from '$lib/components/Section/Section.svelte';
	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
	import { formatNumber } from '$lib/services/helpers';
	import Close from '$lib/icons/Close.svelte';

	let calculationRows = [
		{
			name: 'bitcoin',
			thorPool: 'BTC.BTC',
			multiply: '1X',
			locked: '1%',
			disabled: true,
		},
		{
			name: 'ethereum',
			thorPool: 'ETH.ETH',
			multiply: '1X',
			locked: '1%',
			disabled: true,
		},
	];

	const availablePools = [
		{ value: 'binancecoin', text: 'BNB', thorPool: 'BNB.BNB' },
		{ value: 'ethereum', text: 'ETH', thorPool: 'ETH.ETH' },
		{ value: 'dogecoin', text: 'DOGE', thorPool: 'DOGE.DOGE' },
		{ value: 'litecoin', text: 'LTC', thorPool: 'LTC.LTC' },
		{ value: 'bitcoin-cash', text: 'BCH', thorPool: 'BCH.BCH' },
		{ value: 'bitcoin', text: 'BTC', thorPool: 'BTC.BTC' },
		{ value: 'binance-usd', text: 'BUSD', thorPool: 'BNB.BUSD-BD1' },
		{ value: 'avalanche', text: 'AVAX', thorPool: 'AVAX.AVAX' },
		{
			value: 'usd-coin',
			text: 'USDC',
			thorPool: 'ETH.USDC-0XA0B86991C6218B36C1D19D4A2E9EB0CE3606EB48',
		},
		{
			value: 'tether',
			text: 'USDT',
			thorPool: 'ETH.USDT-0XDAC17F958D2EE523A2206206994597C13D831EC7',
		}
	];

	const baseLocked = (index: number) => {
		let thorPool = poolData.find((item) => item.asset === calculationRows[index].thorPool);
		let market = marketData.find((item) => item.id === calculationRows[index].name);

		let assetDepth = Number.parseFloat(thorPool?.assetDepth ?? '0') / 10 ** 8;

		if (assetDepth == 0) {
			calculationRows[index].locked = '1%';
		} else {
			calculationRows[index].locked =
				((assetDepth / (market?.circulating_supply ?? 1)) * 100).toFixed(4) + '%';
		}
	};

	const getSharedTVL = () => {
		let res = 0;

		let extraAssets = poolData.filter((pool) =>
			calculationRows.map((row) => row.thorPool).includes(pool.asset.toUpperCase()),
		);

		for (let pool of extraAssets) {
			res += Number.parseFloat(pool.assetPriceUSD) * (Number.parseFloat(pool.assetDepth) / 10 ** 8);
		}

		return res.toFixed(4);
	};

	const calculateDeterministicValue = () => {
		if (!isReady) {
			return '0';
		}

		let nonRUNETVL = 0;

		const thorchain = marketData.find((item) => item.id === 'thorchain');

		for (let index in calculationRows) {
			let market = marketData.find((item) => item.id === calculationRows[index].name);

			if (!market) {
				continue;
			}

			const coin = calculationRows[index];

			nonRUNETVL +=
				market.circulating_supply *
				(Number.parseFloat(coin.locked) / 100) *
				(market.current_price * Number.parseFloat(coin.multiply));
		}

		return (
			((nonRUNETVL + (Number.parseFloat(getSharedTVL()) ?? 0)) * 3) /
			thorchain.circulating_supply
		).toFixed(2);
	};

	const handleDeleteRow = (index: number) => {
		calculationRows = calculationRows.filter((item, i) => i !== index);
	};

	const runePriceQuery = useRunePrice();
	const marketDataQuery = useMarketData();
	const poolDataQuery = usePoolData();

	$: runePrice = $runePriceQuery.data;
	$: marketData = $marketDataQuery.data;
	$: poolData = $poolDataQuery.data;

	let isReady = false;
	let mount = false;
	let deterministicValue = calculateDeterministicValue();

	const handleMultiplyInputFocus = (index: number) => {
		calculationRows[index].multiply = calculationRows[index].multiply.replace('X', '');
	};

	const handleMultiplyInputBlur = (index: number) => {
		calculationRows[index].multiply = calculationRows[index].multiply + 'X';

		calculationRows = calculationRows;
	};

	const handleLockedInputFocus = (index: number) => {
		calculationRows[index].locked = calculationRows[index].locked.replace('%', '');

		calculationRows = calculationRows;
	};

	const handleLockedInputBlur = (index: number) => {
		calculationRows[index].locked = calculationRows[index].locked + '%';

		calculationRows = calculationRows;
	};

	const handleLockedInput: svelte.JSX.KeyboardEventHandler<HTMLInputElement> = (event) => {
		const target = event.target as HTMLTextAreaElement;

		const { value } = target;

		if (!isNumberString(value)) {
			event.preventDefault();
			return;
		}

		const index = +target.dataset.index;

		calculationRows[index].locked = value;

		calculationRows = calculationRows;
	};

	const handleMultiplyInput: svelte.JSX.KeyboardEventHandler<HTMLInputElement> = (event) => {
		const target = event.target as HTMLTextAreaElement;

		const { value } = target;

		if (!isNumberString(value)) {
			event.preventDefault();
			return;
		}

		const index = +target.dataset.index;

		calculationRows[index].multiply = value;

		calculationRows = calculationRows;
	};

	const handleAddPress = () => {
		calculationRows.push({
			name: 'binancecoin',
			thorPool: 'BNB.BNB',
			multiply: '1X',
			locked: '1%',
			disabled: false,
		});

		calculationRows = calculationRows;

		baseLocked(calculationRows.length - 1);
	};

	const handlePoolChanged = (index: number) => {
		let thorPool = availablePools.find(
			(item) => item.value === calculationRows[index].name,
		).thorPool;

		calculationRows[index].thorPool = thorPool;

		baseLocked(index);
	};

	$: {
		isReady = [$runePriceQuery, $marketDataQuery, $poolDataQuery].every((query) => query.isSuccess);

		if (isReady && !mount) {
			calculationRows.forEach((_, index) => {
				baseLocked(index);
			});

			mount = true;
		}
	}

	$: {
		if (isReady) {
			deterministicValue = calculateDeterministicValue();

			calculationRows;
		}
	}
</script>

<Section>
	<SectionHeader>Calculator</SectionHeader>
	<SectionTitle>RUNE Price Calculator</SectionTitle>
	<SectionDescription>
		RUNE accrues value as more native assets are secured by the Liquidity Pools. Use this tool to calculate the deterministic price of RUNE based on the total value locked on THORChain.
	</SectionDescription>

	<div class="flex flex-1 space-x-[40px] text-white mt-[40px] md:mt-[60px]">
		{#if isReady}
			<div class="flex flex-1 flex-col items-center">
				<div class="flex w-full lg:w-4/6 flex-col font-bold">
					<div
						class="flex flex-1 justify-between p-[15px] overflow-hidden gradient-border border-[1px] mb-[15px]"
					>
						<p>Current value</p>

						<p>
							${formatNumber(runePrice)}
						</p>
					</div>

					<div
						class="flex flex-1 justify-between p-[15px] overflow-hidden gradient-border border-[1px] mb-[15px]"
					>
						<p>Deterministic value</p>

						<p>
							${deterministicValue}
						</p>
					</div>

					<div class="flex flex-col gap-y-[15px] text-xxsmall lg:text-small">
						{#each calculationRows as row, index}
							<div class="border-[1px] border-gray p-[15px]">
								<div class="grid grid-cols-2 items-center justify-between ">
									<div class="flex items-center gap-x-2">
										<p>#{index + 1}</p>
										<select
											class="p-2 bg-green text-green font-bold bg-opacity-10 appearance-none focus:outline-0"
											data-index={index}
											bind:value={row.name}
											on:change={() => handlePoolChanged(index)}
										>
											{#each availablePools as item}
												<option value={item.value}>{item.text}</option>
											{/each}
										</select>
									</div>
									<div>
										<div
											class="h-5 w-5 ml-auto cursor-pointer"
											on:click={() => handleDeleteRow(index)}
										>
											<Close />
										</div>
									</div>
								</div>

								<div
									class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 items-center justify-between mt-4"
								>
									<div class="grid grid-cols-5 gap-2 items-center">
										<div class="col-span-2">Price will change by</div>

										<input
											class="col-span-2 bg-black border-[1px] border-gray w-full font-bold p-2 focus:outline-0 focus:border-green"
											type="text"
											data-index={index}
											value={row.multiply}
											on:focus={() => handleMultiplyInputFocus(index)}
											on:blur={() => handleMultiplyInputBlur(index)}
											on:change={handleMultiplyInput}
										/>

										<div class="text-center">and</div>
									</div>

									<div class="grid grid-cols-3 gap-2 items-center mt-4 md:mt-0">
										<input
											class="bg-black border-[1px] border-gray w-full font-bold p-2 focus:outline-0 focus:border-green"
											type="text"
											data-index={index}
											value={row.locked}
											on:focus={() => handleLockedInputFocus(index)}
											on:blur={() => handleLockedInputBlur(index)}
											on:change={handleLockedInput}
										/>
										<div class="col-span-2 text-right">will be locked into the network</div>
									</div>
								</div>
							</div>
						{/each}

						<div
							class="text-center items-center border-[1px] border-gray w-full p-[15px] cursor-pointer"
							on:click={handleAddPress}
						>
							Add
						</div>
					</div>

					<!-- <div class="flex flex-col gap-y-[15px] text-xxsmall lg:text-small">
						{#each calculationRows as row, index}
							<div
								class="relative grid grid-cols-12 items-center gap-[10px] border-[1px] border-gray w-full p-[15px]"
							>
								<div class="absolute right-2 top-2">
									<div
										class="h-5 w-5 ml-auto cursor-pointer"
										on:click={() => handleDeleteRow(index)}
									>
										<Close />
									</div>
								</div>

								<div class="col-span-12">
									<select
										class="p-2 bg-green text-green font-bold bg-opacity-10 appearance-none focus:outline-0"
										data-index={index}
										bind:value={row.name}
										on:change={() => handlePoolChanged(index)}
									>
										{#each availablePools as item}
											<option value={item.value}>{item.text}</option>
										{/each}
									</select>
								</div>

								<div class="col-span-3 lg:col-span-3">Price:</div>
								<div class="col-span-3">
									<input
										class="bg-black border-[1px] border-gray w-full font-bold p-2 focus:outline-0 focus:border-green"
										type="text"
										data-index={index}
										value={row.multiply}
										on:focus={() => handleMultiplyInputFocus(index)}
										on:blur={() => handleMultiplyInputBlur(index)}
										on:change={handleMultiplyInput}
									/>
								</div>

								<div class="col-span-3 lg:col-span-3 text-center">TVL:</div>
								<div class="col-span-3">
									<input
										class="bg-black border-[1px] border-gray w-full font-bold p-2 focus:outline-0 focus:border-green"
										type="text"
										data-index={index}
										value={row.locked}
										on:focus={() => handleLockedInputFocus(index)}
										on:blur={() => handleLockedInputBlur(index)}
										on:change={handleLockedInput}
									/>
								</div>
							</div>
						{/each}

						<div
							class="text-center items-center border-[1px] border-gray w-full p-[15px] cursor-pointer"
							on:click={handleAddPress}
						>
							Add
						</div>
					</div> -->
				</div>
			</div>
		{/if}
	</div>
</Section>
