<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import { useRuneMetrics } from '$lib/services/queries';

	import Button from '../Button/Button.svelte';

	import MetricData from '../Metric/MetricData.svelte';
	import MetricTitle from '../Metric/MetricTitle.svelte';

	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';

	const runeMetricsQuery = useRuneMetrics();

	$: runeMetrics = $runeMetricsQuery.data;
	$: isLoading = $runeMetricsQuery.isLoading;
</script>

<Section>
	<SectionHeader>METRICS</SectionHeader>
	<SectionTitle>RUNE Metrics</SectionTitle>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-y-[50px] lg:gap-[50px] mt-[30px] md:mt-[40px]">
		<div class="text-center lg:text-left space-y-[20px]">
			<p class="font-bold text-small lg:text-d-lead text-text-secondary">
				RUNE’s price has two factors: a deterministic value based on the liquidity within the
				network, and a speculative premium.
			</p>
			<p class="font-normal text-small lg:text-d-lead text-text-secondary">
				Its 2:1 bond:pool ratio, combined with the 1:1 RUNE-Asset pairs in the liquidity pools means
				that the value of RUNE needed in the network is three times the value of the non-RUNE assets
				locked.
			</p>
			<p class="font-normal text-small lg:text-d-lead text-text-secondary">
				If $1,000,000 worth of non-RUNE tokens are deposited in THORChain, the market cap of RUNE
				will be at least $3,000,000. This is just the minimum, or deterministic value, of RUNE.
			</p>
		</div>

		<div class="col-span-2 border-[1px] border-gray py-10 px-10 h-min">
			<div class:animate-pulse={isLoading} class="grid grid-cols-1 sm:grid-cols-2 gap-[30px]">
				<div>
					<MetricTitle>MARKET CAP</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics.marketCap}</MetricData>
				</div>
				<div>
					<MetricTitle>RUNE PRICE</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics.runePriceUSD}</MetricData>
				</div>
				<div>
					<MetricTitle>TOTAL RUNE POOLED</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics.totalPooledRune}</MetricData>
				</div>
				<div>
					<MetricTitle>TOTAL RUNE BONDED</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics.totalBondedRune}</MetricData>
				</div>
				<div>
					<MetricTitle>CIRCULATING SUPPLY</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics.circulatingSupply}</MetricData>
				</div>
				<div>
					<MetricTitle>TOTAL SUPPLY</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics.totalSupply}</MetricData>
				</div>
			</div>

			<div class="flex col-span-2 lg:col-span-1 xl:block w-full mt-[20px] md:mt-[30px]">
				<a href="https://thorchain.net/" target="_blank" rel="noopener noreferrer" class="w-full">
					<Button
						class="flex-1 xl:block xl:w-[230px] font-bold text-small text-black text-center align-middle justify-center w-full"
						gradient>
						More Stats
					</Button>
				</a>
			</div>
		</div>
	</div>
</Section>
