<script lang="ts">
	import cx from 'classnames';
	import ArrowUpRight from '../../icons/ArrowUpRight.svelte';
	import Button from '../Button/Button.svelte';

	export let gradient = false;

	$: classNames = cx('text-text-primary w-[100%] mt-5 justify-center', $$props.class);
</script>

<Button {gradient} class={classNames}>
	<ArrowUpRight slot="leading" />

	<p class="font-bold text-xsmall">
		<slot />
	</p>
</Button>
