<script lang="ts">
	import cx from 'classnames';

	export let size: 'default' | 'large' = 'default';

	$: classNames = cx('font-extrabold mt-1 lg:mt-[10px]', $$props.class, {
		'text-m-h4 md:text-d-h3': size === 'large',
		'text-m-h4 md:text-d-h4': size === 'default',
	});
</script>

<h1 class={classNames}>
	<slot />
</h1>
