<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Integrated By</SectionHeader>
	<div
		class="grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-6 items-center mt-6 px-6 sm:px-3 py-3 gap-4"
	>
		<div
			class="flex-1 content-center px-4 md:px-12 xl:px-16 2xl:px-5 py-2 md:py-3 hover:scale-125 transform transition duration-500"
		>
			<a href="https://trustwallet.com"><img src="/images/integrated/trust.png" /></a>
		</div>
		<div
			class="flex-1 content-center px-4 md:px-12 xl:px-16 2xl:px-5 py-2 md:py-3 hover:scale-125 transform transition duration-500"
		>
			<a href="https://edge.app"><img src="/images/integrated/edge.png" /></a>
		</div>
		<div
			class="flex-1 content-center px-4 md:px-12 xl:px-16 2xl:px-5 py-2 md:py-3 hover:scale-125 transform transition duration-500"
		>
			<a href="https://shapeshift.com"
				><img class="object-bottom" src="/images/integrated/shapeshift.png" /></a
			>
		</div>
		<div
			class="flex-1 content-center px-4 md:px-12 xl:px-16 2xl:px-5 py-2 md:py-3 hover:scale-125 transform transition duration-500"
		>
			<a href="https://xdefi.io"><img src="/images/integrated/xdefi.png" /></a>
		</div>
		<div
			class="flex-1 content-center px-4 md:px-12 xl:px-16 2xl:px-5 py-2 md:py-3 hover:scale-125 transform transition duration-500"
		>
			<a href="https://thorswap.finance"><img src="/images/integrated/thorswap.png" /></a>
		</div>
		<div
			class="flex-1 content-center px-4 md:px-12 xl:px-16 2xl:px-5 py-2 md:py-3 hover:scale-125 transform transition duration-500"
		>
			<a href="https://thorwallet.org"><img src="/images/integrated/thorwallet.png" /></a>
		</div>
	</div>
</Section>
