<script lang="ts">
	import AssetTicker from '$lib/components/AssetTicker/AssetTicker.svelte';
	import Button from '$lib/components/Button/Button.svelte';
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	import Section from '$lib/components/Section/Section.svelte';

	import ArrowUpRight from '$lib/icons/ArrowUpRight.svelte';

	import { useYieldMetrics } from '$lib/services/queries';

	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';
	const swiperValues = ['Deposit Bitcoin', 'Deposit Ether', 'Deposit BNB', 'Deposit DOGE', 'Deposit ATOM',  'Deposit Litecoin', 'Deposit BCH', 'Deposit AVAX', ];

	const yieldMetrics = useYieldMetrics();

	$: yieldMetricsData = $yieldMetrics.data;
	$: yieldMetricsIsLoading = $yieldMetrics.isLoading;
</script>

<Section>
	<div class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
			
		/>
<!-- removed yield poster - relaced with home poster instead. Remove above and re-insert below to change it back 
				<MobileHeroVideo
			posterSrc="/images/video-posters/yield-hero-poster.png"
			videoSrc="/videos/yield-hero.mp4"
		/>
-->
		<div
			class="flex flex-col py-[20px] mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
			<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
				<Swiper modules={[Autoplay]} slidesPerView={1} autoplay loop spaceBetween={0}>
					{#each swiperValues as value}
						<SwiperSlide class="text-text-primary pb-2 lg:pb-0">
							{value}
						</SwiperSlide>
					{/each}
				</Swiper>
				<span class="text-green">Earn Yield.</span><br /> 
			</h1>
			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				Provide liquidity paired with RUNE and become a Liquidity Provider. Earn single asset yield without RUNE exposure as a Saver.
			</p>

			<AssetTicker usePrice={false} />

			{#if !yieldMetricsIsLoading}
				<div
					class:animate-pulse={yieldMetricsIsLoading}
					class="flex flex-col sm:flex-row sm:space-x-[100px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
				>
					<div>
						<h1
							class="font-extrabold text-title-big tracking-[0.2em] uppercase text-text-secondary"
						>
							Average Dual APR
						</h1>
						<h2 class="font-extrabold text-d-h3 text-text-primary">
							{yieldMetricsData.averageAPY}
						</h2>
					</div>
					<div>
						<h1
							class="font-extrabold text-title-big tracking-[0.2em] uppercase text-text-secondary"
						>
							Total Value Pooled
						</h1>
						<h2 class="font-extrabold text-d-h3 text-text-primary">
							{yieldMetricsData.totalValuePooled}
						</h2>
					</div>
				</div>
			{/if}

			<!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer">
				<Button
					class="justify-center py-[13px] lg:py-[15px] self-center w-full lg:self-auto lg:w-[235px]"
					gradient
				>
					<div class="flex align-middle">
						<ArrowUpRight />
						<p class="font-bold text-xsmall ml-[14px]">Earn</p>
					</div>
				</Button>
			</a> -->
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
		/>
<!-- replace above to re-insert yield poster
		<DesktopHeroVideo
		posterSrc="/images/video-posters/yield-hero-poster.png"
		videoSrc="/videos/yield-hero.mp4"
	/>
-->	
	</div>
</Section>
