<script lang="ts">
	import cx from 'classnames';

	$: classNames = cx(
		'font-extrabold text-m-h2 lg:text-d-h2 text-text-primary text-center mt-[10px] md:mt-[30px]',
		$$props.class,
	);
</script>

<h1 class={classNames}>
	<slot />
</h1>
