@import '@fontsource/manrope/latin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply min-h-full h-full bg-black text-text-primary;
}

video {
	@apply bg-black;
}

.swiper-wrapper {
	transition-timing-function: linear !important;
}

.gradient-border {
	border-image: linear-gradient(#33ff99, #00ccff) 1;
}

.date-time-field {
	@apply w-full h-full bg-black !important
}

.date-time-field input {
	@apply w-full h-full bg-black border-[1px] border-gray text-text-primary text-xsmall p-2 focus:outline-0 focus:border-green rounded-none !important
}

.date-time-field .date-time-picker {
	@apply bg-black text-text-primary !important
}

.date-time-field .date-time-picker .page-button svg {
	@apply fill-white !important
}

.date-time-field .date-time-picker .month select,
.date-time-field .date-time-picker .year select {
	@apply bg-black text-text-primary border-[1px] border-gray !important
}

.date-time-field .date-time-picker .selected {
	@apply bg-black border-[1px] border-green !important
}

.date-time-field .date-time-picker .disabled span {
	@apply visible text-text-secondary !important
}
