<div class="col-span-2">
  <div class="flex">
    <h2 class="font-bold text-title-medium tracking-[.2em] text-black bg-green py-[6px] px-4">UPCOMING</h2>
  </div>
  <p class="font-medium text-normal lg:text-d-lead text-text-primary mt-[20px]">New blockchains are connected periodically. New features and primitives undergo extensive research, design, and debate by the community and are subject to THORChain's node governance processes.</p>
</div>